@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .custom-container {
    @apply max-w-[1220px] px-4 md:px-8 mx-auto
  }
}

@theme {
  --color-primary: #4B6BFB;
  --color-black: #181A2A;
  --color-black-border: #242535;
  --color-gray: #97989F;
  --color-gray-bg: #4B6BFB0D;
  --color-gray-border: #E8E8EA;
}

body {
  @apply bg-white text-black transition-colors duration-300;

  font-family: "Work Sans", sans-serif;
}

.dark body {
  @apply bg-black text-white;
}